.melli_slider_container {
    /* background: #E4ECFF; */
}

.melli_slider_container .row {
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
	justify-content:center;
}

.melli_slider_container .slick-slide {
    background: #fff;
    margin: 20px 5px;
}

.melli_slider_container .slick-slide .melli-single-pricing-cards {
    padding: 5px;
}

.melli_slider_container .slick-slide .melli-single-pricing-cards h1 {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}

.melli_slider_container .slick-slide .melli-single-pricing-cards p {
    margin: 5px 0;
    padding-left: 10px;
}

.melli_slider_container .slick-slide .melli-single-pricing-cards p.add_to_cart_inline {
    border: none !important;
    font-size: 140%;
    text-align: center;
    font-weight: 700;
}


/* New style  */


.melli_slider_container .melli-single-pricing-cards {
    text-align: center;
    max-width: 116px;
    margin-top: 20px;
    min-height: 95px;
     display: flex; 
     flex-direction: column; 
     justify-content: center;
    position: relative;
    z-index: 1;
    overflow: hidden;
    min-width: 100px;
    background: transparent;
	color:#333;
	width:116px;
	border-radius:25px;
	align-items:center;
}

.melli_slider_container .melli-single-pricing-cards h4 {
    font-weight: bold;
    font-size: 22px;
	margin-bottom:15px;
	margin-top:-7px;
}

.melli_slider_container .melli-single-pricing-cards.active .sale-price-wrap div {
    color: #000;
	font-size:90%;
}

.melli_slider_container .melli-single-pricing-cards:after {
    background: #f2f6f9;
    position: absolute;
    content: "";
    width: 100%;
    height: 50%;
    top: 0;
    left: 0;
    z-index: -1;
}


.melli_slider_container .melli-single-pricing-cards.active {
    border-color: #ec3454;
}

.melli_slider_container .melli-single-pricing-cards.active:after {
    background: #FE2C55;
}

.melli_slider_container .melli-single-pricing-cards {
/*     box-shadow: 0px 1px 5px rgb(0 0 0 / 30%); */
	border:1px solid #ddd;
}

.melli_slider_container .melli-single-pricing-cards.active {
/*     background: #ec3454; */
/*     box-shadow: 0px 1px 10px rgb(0 0 0 / 50%); */
	border:1px solid #FE2C55;
	
}

.melli_slider_container .melli-single-pricing-cards.active .sale-perc {
    color: #fff;
    padding-top: 0;
}



.melli_slider_container .melli-single-pricing-cards.active h4 {
    color: #fff;
}


.price-and-buy-btn .price>span {
    font-size: 24px;
    font-weight: 500;
}

.price-and-buy-btn span.sale-price {
    font-size: 85%;
    text-decoration: line-through;
    margin-left: 7px;
}

.price-and-buy-btn .price>span {
    font-size: 24px;
    font-weight: 500;
}

.price-and-buy-btn span.sale-price {
    font-size: 85%;
    text-decoration: line-through;
    margin-left: 7px;
}

.melli_slider_container .melli-single-pricing-cards {
    position: relative;
}

/* .melli_slider_container .melli-single-pricing-cards:before {
    content: "";
    position: absolute;
    height: 50px;
    width: 50px;
    background: red;
    left: -25px;
    top: -25px;
    z-index: -1;
    border-radius: 50%;
} */


/* Plan type design  */

.melli_slider_container .flex-row {
    display: flex;
    gap: 40px;
    margin: 25px 0;
}

.melli_slider_container .flex-row .plan__type {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 25px;
    min-width: 215px;
}

.melli_slider_container .flex-row .plan__type .plan__type-head {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    justify-content: space-between;
}

.melli_slider_container .flex-row .plan__type .plan__type-head .svg-blob svg {
    max-width: 50px;
}

.melli_slider_container .flex-col .plan__type--premium {
    padding-bottom: 30px !important;
}


.melli_slider_container .flex-row .plan__type .plan__type-body ul {
    margin: 0 !important;
    padding: 0 !important;
    list-style: none;
}

.melli_slider_container .flex-row .plan__type .plan__type-body ul li {
    position: relative;
    margin-bottom: 8px;
    padding-left: 2rem;
    font-size: 14px;
}

.melli_slider_container .flex-row .plan__type .plan__type-body ul li svg {
    position: absolute;
    left: 0;
    top: 4px;
}

.melli_slider_container .flex-col .plan__type {
    position: relative;
    padding-bottom: 80px;
    overflow: hidden;
}

.melli_slider_container .flex-col .plan__type:hover {
    cursor: pointer;
}

.melli_slider_container .flex-row .plan__type.is-active {
    border: 1px solid #ec3454;
}

.melli_slider_container .flex-col .plan__type.is-active .plan__type-checkbox {
    background-color: #ec3454;
    border-color: #ec3454;
    color: #fff;
}


.melli_slider_container .flex-col .plan__type-checkbox {
    position: absolute;
    bottom: 1.2rem;
    right: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5rem;
    height: 1.5rem;
    border: 2px solid #d3d3d3;
    border-radius: 8px;
}

.melli_slider_container .flex-col .plan__type-checkbox svg {
    display: none;
}


.melli_slider_container .plan__type.is-active .plan__type-checkbox svg {
    display: block;
}

.melli_slider_container .flex-row .plan__type .plan__type-head {
    position: relative;
}

.plan__type.plan__type--premium .plan__type-head {
    position: relative;
    color: #fff;
    padding-bottom: 18px;
}

.plan__type.plan__type--premium .plan__type-head:before {
    content: "";
    background: #ec3454;
    position: absolute;
    left: -11px;
    top: -10px;
    width: 112%;
    height: 60px;
    z-index: -1;
}

/* price block  */
.melli-price-and-buy-btn {
    display: flex;
    width: 310px;
    justify-content: center;
    align-items: center;
}

.melli-price-and-buy-btn .price {
    min-width: 130px;
    margin-right: 10px;
}

.melli-price-and-buy-btn .price__bottom .fa, .melli-price-and-buy-btn .price__bottom span {
    color: #3ad695;
}

.melli-price-and-buy-btn .price__bottom .fa {
    position: absolute;
    top: 4px;
    left: 0;
    background: rgba(58, 214, 149, 0.2);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    line-height: 20px;
    text-align: center;
	font-size:10px;
}

.melli-price-and-buy-btn .price__bottom {
    position: relative;
    padding-left: 20px;
}

.melli_slider_container .flex-col .plan__type--premium {
    opacity: .3;
}

.melli-price-and-buy-btn .price #salePrice {
    font-size: 150%;
}

.melli-price-and-buy-btn #melliAddtoCart {
    background: var( --e-global-color-primary );
    text-decoration: none;
    font-size: 18px;
    transition: .3s;
    border: 2px solid transparent;
}

.melli-price-and-buy-btn #melliAddtoCart:hover {
    background: transparent;
    border: 2px solid var( --e-global-color-primary );
    color: #333;
}


.melli_slider_container .flex-row .plan__type .plan__type-head h6 {
    padding: 12px;
    font-weight: 700;
    font-size: 14px;
}

button.melli-single-pricing-cards i.fa {
    font-size: 30px;
    position: absolute;
    top: 2px;
    left: 45%;
    color: #ec3454;
    z-index: -1;
    opacity: .5;
    display: none;
}

button.melli-single-pricing-cards.active i.fa {
    display: block;
}

@media(max-width:768px){
	.melli_slider_container .melli-single-pricing-cards{
		max-width:142px;
	}
	
	.melli_slider_container .flex-row {
    gap: 5px;
    display: block;
    margin-bottom: 10px;
}

.melli_slider_container .flex-row .plan__type {
    margin-top: 14px;
}

.melli_slider_container .row {
    gap: 8px;
}
}

/* Faqs  */

.questions {
    position: relative;
    border-radius: 3.3rem;
    padding: 2rem 4rem 5rem;
    max-width: 96.5rem;
    margin: 0 auto;
}

.questions .blobs {
    width: 23rem;
    position: absolute;
    left: 50%;
    top: -10rem;
    transform: translateX(-50%);
}

.blobs .blobs__holder {
    position: relative;
    padding-bottom: 55.6%;
}

.is-animated .blobs .blob, .is-animated .blobs .blobs__arrow {
    opacity: 1;
}

.is-animated .blobs .blob, .is-animated .blobs .blobs__arrow {
    opacity: 1;
}

.blobs .blob--middle {
    top: -14.9%;
    left: 17%;
    width: 81.7%;
    transition-delay: .2s;
    transform: scale(.9) translateY(3rem);
}

.blobs .blob--left {
    left: 0;
    transform: scale(.9) rotate(-6deg);
    width: 65.3%;
}

.blobs .blobs__arrow {
    left: 50%;
    top: 31.3%;
    z-index: 3;
    width: 48%;
    transition-delay: .6s;
    transform: translate(-50%,10rem);
}

.is-animated .blobs .blobs__arrow {
    transform: translate(-50%) rotate(-1.75deg);
}

.questions>ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: -1.2rem -.8rem;
}

.questions>ul>li {
    width: 50%;
    padding: 1.2rem .8rem;
}

.question {
    position: relative;
    font-size: 1.6rem;
    line-height: 1.45;
    cursor: pointer;
	box-shadow:0 0 1px
}

.question .svg-icon {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    transform: translate(17%,-33.8%);
}

.question .question__inner {
    position: relative;
    background-color: #fff;
    padding: 2.7rem 3.6rem;
    border-radius: 2.4rem;
    overflow: hidden;
}

.question .question__inner:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    background: linear-gradient(1turn,#fff 3.75%,hsla(0,0%,100%,0));
    transition: opacity .5s;
}

.question.is-expanded .question__inner:before {
    opacity: 0;
}

.question h3 {
    margin-bottom: 2.5rem;
}

.question.is-expanded .question__entry {
    max-height: 100rem;
    opacity: 1;
}

.question .question__entry {
    max-height: 12.3rem;
    padding-bottom: 4rem;
    color: #474747;
    opacity: .9;
    transition-property: max-height opacity;
    transition-timing-function: cubic-bezier(1,0,0,1);
    transition-duration: .5s;
	font-size:15px;
}


.question .question__btn {
    position: absolute;
    z-index: 10;
    bottom: 2.2rem;
}

.btn-more {
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
    color: #ff553c;
    font-weight: 600;
    font-size: 1.6rem;
}

.btn-more span {
    position: relative;
    display: block;
    margin-right: 1rem;
    width: 32px;
    height: 10px;
}

.question .svg-icon path {
/*     fill: #e5fcff; */
}

.svg-icon--boxQuestion path {
    filter: drop-shadow(0 2px 3px rgba(0,0,0,.1));
}

.question .svg-icon circle {
    fill: #FE2C55;
}

.svg-icon {
    display: inline-block;
    position: relative;
    font-size: 0;
    line-height: 0;
    text-indent: -4004px;
    vertical-align: top;
}

.questions:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
/*     background-color: #e1fcff; */
    border-radius: 3.3rem;
}

.melli-faq-top-arrows {
    position: absolute;
    top: -160px;
    z-index: -1;
    left: 37%;
}

.question .question__inner {
    position: relative;
    background-color: #fff;
    padding: 2.7rem 3.6rem;
    border-radius: 2.4rem;
    overflow: hidden;
}

.question .question__inner:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    background: linear-gradient(1turn,#fff 3.75%,hsla(0,0%,100%,0));
    transition: opacity .5s;
}

.btn-more span:after, .btn-more span:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 3px;
    margin-top: -1px;
    background-color: currentColor;
    transition: transform .3s;
}
.btn-more span:after, .btn-more span:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 37%;
    display: inline-block;
    width: 100%;
    height: 3px;
    margin-top: -1px;
    background-color: currentColor;
    transition: transform .3s;
}

.btn-more span:after {
    transform: rotate(90deg);
}

button {
    border: none;
    background: none;
}

.question.is-expanded .question__entry {
    max-height: 100rem;
    opacity: 1;
}

.melli-faqs{
	margin-top:0px;
}

.question .question__btn:hover, .question .question__btn:active {
    background: transparent;
    color: #FE2C55;
}

.question.is-expanded .btn-more span::after {
    transform: rotate(0deg);
}

@media(max-width:768px){
	.questions>ul>li {
    width: 100%;
    padding: 0;
}

.questions {
    padding: 25px 22px;
}

.questions ul>li {
    margin-top: 41px;
}
	
	.melli-faq-top-arrows{
		top:-137px;
		left:0;
	}
	
	.melli-price-and-buy-btn #melliAddtoCart{
		font-size:14px;
		padding:10px 25px;
	}
}
